* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
}

.container {
  margin: 0px auto;
  width: 300px;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatgpt-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.chatgpt-list > li {
  margin-top: 20px;
}

.chatgpt-form {
  width: 280px;
  display: flex;
  margin-top: 50px;
}

.chatgpt-form__input {
  width: 100%;
  padding: 5px 10px;
}

.chatgpt-form__btn {
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 600px;
  }

  .chatgpt-form {
    width: 580px;
  }
}
